<h1><b><%=@greeting%> <%=current_user.email%>!</b></h1>

 <%= link_to "Show booked tours", tours_path %>
<%= render partial: "lists/lists", locals: {lists: @lists} %>

<br>
<br>
<%= link_to 'create a new list', new_user_list_path(current_user)%>
